<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  

  <!-- strings para conexão com o banco de dados -->
  
  <connectionStrings>
    <add name="connectionString" connectionString="..\\..\\..\\..\\..\\..\\..\\db-sqlite\\public-exemplos_dev.sqlite3" />
  </connectionStrings>
  
</configuration>