@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>@ViewBag.Cadastro</h1>

<div class="row">

    <div class="col-sm">
        <!-- Botão para cadastrar um novo registro-->
        <a class="btn btn-success" asp-action="Create">  Adicionar  </a>
    </div>

    <div class="col-sm">

        <div class="input-group mb-3">

            <!-- Label para o SelectCampo -->
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputSelectCampo">Localizar @ViewBag.CurrentOrderBy:</label>                
                <input type="hidden" id="FiltrarPor" name="FiltrarPor" value=@ViewBag.CurrentOrderBy >
            </div>


            <!-- input text para digitar o textodo do filtro da lista -->
            <input type="text" class="CaixaBusca" id="texto" name="texto" placeholder="Filtrar por..." aria-label="Filtrar por..." aria-describedby="basic-addon2" value="@ViewBag.CurrentValor" />
            <!-- Buttom para enviar os dados do filtro para a lista -->
            <button class="btn btn-success create" onclick="CarregarLista()">Buscar <i class="glyphicon glyphicon-search"></i></button>
        </div>

    </div>

    
</div>

<div class="text-center">

    <div id="load" style="text-align:center">
        <h5><i class="fas fa-spinner fa-pulse"></i> Aguarde...</h5>
    </div>

</div>

<div id="lista">  </div>

<script>

    $(document).ready(function () {

        $("#load").hide();
        $("#lista").hide();

    });

    function CarregarLista() {

        $("#load").show();
        $("#lista").hide();

        var texto = $('#texto').val();
        texto = encodeURI(texto);
        
        var filtrarpor = $('#FiltrarPor').val();
        filtrarpor = encodeURI(filtrarpor);

        var url = "/bancos/filtrar?texto=" + texto + "&filtrarpor=" + filtrarpor +"&";

        $("#lista").load(url, function () {
            $("#load").hide();
            $("#lista").show();

        });
    }
</script>