<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <!-- strings para conexão com o banco de dados -->
  <connectionStrings>
    <add name="connectionString" connectionString="..\\..\\..\\..\\..\\db-sqlite\\public-exemplos_dev.sqlite3" />
  </connectionStrings>
  
</configuration>